/source-code/orientado-objeto/CálculoAreaEPerimetro/nbproject/private/
/source-code/orientado-objeto/Aula04/nbproject/private/
/source-code/orientado-objeto/CálculoAreaEPerimetro/build/
/source-code/orientado-objeto/CálculoAreaEPerimetro/dist/